@page
@model EagleFlight.Pages.ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmation Successful";
}

<h1>@ViewData["Title"]</h1>
<p class="d-inline">Click</p>
<a class="nav-link d-inline" asp-area="" asp-page="/Index">here</a>
<p class="d-inline">to continue at homepage.</p>  