@page
@inject SignInManager<EagleFlightUser> signInManager;
@inject UserManager<EagleFlightUser> userManager;
@model EagleFlight.Pages.LoginSuccessModel
@{
    ViewData["Title"] = "Login successful";
}

<h1>@ViewData["Title"]</h1>
<p class="d-inline">Click</p>
@{
    if(signInManager.IsSignedIn(User) && User.IsInRole("Admin")){
        <a class="nav-link d-inline" asp-area="" asp-page="/Admin/Index">here</a>
    }else{
        <a class="nav-link d-inline" asp-area="" asp-page="/Index">here</a>
    }
}
<p class="d-inline">to continue at homepage.</p>  
<hr/>
<p>In 5 seconds, it will redirect to home page automatically.</p>  

@section Scripts {
    <script> setTimeout(function() {window.location.href = "@Model.indexLink";}, 5000);</script>
}
