@page 
@model EagleFlight.Pages.RegisterSuccessModel
@{
    ViewData["Title"]="Register Success";
}

<h1>Your account @Model.Email is created</h1>
<hr/>
<p>Please confirm your email before login.</p>
<p class="d-inline">Click</p>
<a class="nav-link d-inline" asp-area="" asp-page="/Index">here</a>
<p class="d-inline">to Continue!</p>  
